<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
        
   <bean id="depBiz" class="com.itheima.erp.biz.impl.DepBiz">
   	<property name="depDao" ref="depDao"/>
   </bean>
   <bean id="empBiz" class="com.itheima.erp.biz.impl.EmpBiz">
   	<property name="empDao" ref="empDao"/>
   </bean>
   <bean id="goodsBiz" class="com.itheima.erp.biz.impl.GoodsBiz">
   	<property name="goodsDao" ref="goodsDao"></property>
   </bean>
   <bean id="goodsTypeBiz" class="com.itheima.erp.biz.impl.GoodsTypeBiz">
   	<property name="goodsTypeDao" ref="goodsTypeDao"/>
   </bean>
   <!-- 菜单 -->
   <bean id="menuBiz" class="com.itheima.erp.biz.impl.MenuBiz">
   	<property name="menuDao" ref="menuDao"/>
   </bean>
   <!-- 供应商/客户 -->
   <bean id="supplierBiz" class="com.itheima.erp.biz.impl.SupplierBiz">
   	<property name="supplierDao" ref="supplierDao"/>
   </bean>
   <!-- 订单 -->
   <bean id="ordersBiz" class="com.itheima.erp.biz.impl.OrdersBiz">
   	<property name="ordersDao" ref="ordersDao"/>
   	<property name="empDao" ref="empDao"/>
   </bean>
   <!-- 订单明细 -->
   <bean id="orderDetailBiz" class="com.itheima.erp.biz.impl.OrderDetailBiz">
   	<property name="orderDetailDao" ref="orderDetailDao"/>
   	<property name="storeDetailDao" ref="storeDetailDao"/>
   	<property name="storeOperDao" ref="storeOperDao"/>
   </bean>
   <!-- 仓库 -->
   <bean id="storeBiz" class="com.itheima.erp.biz.impl.StoreBiz">
   	<property name="storeDao" ref="storeDao"/>
   </bean>
   <!-- 仓库库存 -->
   <bean id="storeDetailBiz" class="com.itheima.erp.biz.impl.StoreDetailBiz">
   	<property name="storeDetailDao" ref="storeDetailDao"/>
   </bean>
   <!-- 仓库变更 -->
   <bean id="storeOperBiz" class="com.itheima.erp.biz.impl.StoreOperBiz">
   	<property name="storeOperDao" ref="storeOperDao" />
   </bean>
</beans>